.about-me {
  margin-bottom: 30px;
  padding: 0 10px;
}

.about-me__title {
  text-align: center;
}

.about-me__description {
  width: 350px;
  margin: 0 auto;
}

.about-me__description-item {
  padding: 5px 0;
}