.about-me {
  margin-bottom: 60px;
  padding: 0 10px;
}

.about-me__title {
  padding: 0 20px;
  text-align: left;
}

.about-me__description {
  max-width: 350px;
  margin: 0 auto;
}

.about-me__description-item {
  padding: 5px 0;
}

@media @tablet-widths {
  
  .about-me {
    .container-fluid();
    padding-bottom: 100px;
  }
  
  .about-me__title {
    width: 650px;
    font-size: 36px;
  }
  
}