.contacts {
  margin-bottom: 30px;
}

.contacts__title {
  position: relative;
  margin: 15px 30px;
  padding-bottom: 5px;
  font-size: 16px;
  text-align: left;
  
  &::after {
    .border-bottom();
  }
}

.contacts__mail a {
  display: block;
  margin: 15px 30px;
  font-size: 16px;
  font-weight: normal;
  color: #202020;
  text-align: left;
  text-decoration: none;
}

@media @tablet-widths {
  
  .contacts {
    .container-fluid();
    padding-bottom: 60px;
  }
  
  .contacts__mail a {
    margin: 0px 30px;
  }
  
}

@media @desktop-widths {
  
  .contacts__mail a {
    margin: 0px 30px;
    font-size: 16px;
  }
  
}