.main-nav__items {
  .container-fluid();
  margin: 0;
  padding: 0;
  
  & li {
    list-style: none;
  }
  
  & a {
    display: block;
    padding: 20px 0;
    font-weight: normal;
    color: #202020;
    text-align: center;
    text-decoration: none;
    border-bottom: 0px solid #cecece;

    &:hover {
      color: #7c7a7a;
    }
  }
}

@media @tablet-widths {
  
  .main-nav__items {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
    & a {
      padding: 15px 0px;
      margin-right: 50px;
      border: none;
    }
    
    & li:last-child a {
      margin-right: 0px;
      padding: 15px 15px;
      border: 1px solid #000000;
    }
  }
  
}