.portfolio {
  margin-bottom: 50px;
}

.portfolio__title {
  position: relative;
  margin: 15px 30px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  font-size: 16px;
  text-align: left;
  
  &::after {
    .border-bottom();
  }
}

.portfolio__items {
  padding: 0 30px;
  
  & a {
      text-decoration: none;
    color: #000000;
    }
}

.portfolio__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
}

.portfolio__item-description {
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
  margin-left: 50px;
  font-size: 14px;
  text-align: left;
}

.portfolio__item-image {
  width: 260px;
  height: 280px;
  border: 1px solid #cecece;
  
  &:hover {
    box-shadow: 0 6px 10px #ececec;
  }
}

.portfolio__item-pages {
  margin-bottom: 30px;
}

@media @tablet-widths {
  
  .portfolio {
    .container-fluid();
  }
  
  .portfolio__item {
    padding-bottom: 30px;
    
    & a {
      text-decoration: none;
    }
  }
  
  .portfolio__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }
  
  .portfolio__item-image {
    width: 500px;
    height: 300px;
  }
  
  .portfolio__title {
    margin-left: 0;
  }
  
  .portfolio__item-description {
    margin-left: 0;
    text-align: center;
    color: #000000;
  }
  
}

@media @desktop-widths {
  
  .portfolio__items {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .portfolio__item {
    width: 500px;
    height: 300px;
    
    /*&:hover {
      background-image: url("../img/sedona/main-desktop.jpg");
      background-color: #fd6804; 
      z-index: 100;
    }*/
  }
  
  .portfolio__item-page {
    position: relative;
    width: 500px;
    height: 300px;
    
    &:hover {
      background-image: url("../img/item-hover.png");
    }
    
    &:hover .portfolio__item-description {
      display: block;
      width: 402px;
      height: 182px;
      background-image: url("../img/item-hover.png");
    }
  }
  
  .portfolio__item-image {
    width: 500px;
    height: 300px;
    
    &:hover {
      opacity: 0;
      box-shadow: none;
    }
  }
  
  .portfolio__item-description {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    padding-top: 120px;
    padding-left: 100px;
    font-size: 18px;
    color: #ffffff;
    text-align: left;
    
    &::after {
      content: "";
      position: absolute;
      bottom: 150px;
      left: 100px;
      width: 30px;
      border-bottom: 1px solid #ffffff;
    }
  }
  
}