.clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

.container-fluid() {
  width: auto;

  @media @tablet-widths {
    width: 87%;
    max-width: 1050px;
    margin: 0 auto;
  }
  
  @media @desktop-widths {
    width: 92%;
  }

}

.border-bottom() {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30px;
  border-bottom: 1px solid #9d9d9d;
}